img {
  width: 100px;
  height: 100px;
}
h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}
input {
  outline: none;
}
.top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.loginForm {
  background-color: white;
  box-shadow: 7px 6px 12px -3px rgba(0, 0, 0, 0.43);
  border-radius: 3px;
}
.loginForm input {
  width: 300px;
  height: 40px;
}
.loginForm input:focus {
  border-bottom-color: red;
}
.label {
  font-size: 14px;
  margin-bottom: -3px;
  margin-top: 10px;
  color: lightslategray;
}
.buttonsForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}
.buttonsForm button {
  margin: 5px 0;
  height: 40px;
  background-color: rgb(247, 75, 75);
  font-weight: bold;
}
.buttonsForm button:hover {
  background-color: rgb(255, 19, 19);
  transition: background-color 0.3s ease-in-out;
}
