<div>
  <div class="container">
    <app-add-task></app-add-task>
  </div>

  <div class="container">
    <div>
      <app-show-todo-list></app-show-todo-list>
    </div>
    <div>
      <app-show-done-list></app-show-done-list>
    </div>
  </div>
  <div class="container">
    <button (click)="save()">Zapisz do bazy danych</button>
  </div>
  <div class="container">
    <div [style.display]="show">
      <ng-container *ngIf="this.taskService.DatabaseSave; else DatabaseSaved">
        <p [ngStyle]="{ color: infoColor() }">Zapisano w bazie!</p>
      </ng-container>
      <ng-template #DatabaseSaved>
        <p [ngStyle]="{ color: infoColor() }">
          Zapis do bazy w toku...
        </p></ng-template
      >
    </div>
  </div>
</div>
